geckodriver-path=./geckodriver
user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/537.36
headless=true
wait-driver=20
wait-block=10
url-main-page=https://www.ozon.ru/category/apteka-6000/solopharm-72315488/?category_was_predicted=true&deny_category_prediction=true&from_global=true&text=solopharm
xpath-pagination-container=//div[@data-widget='megaPaginator']
xpath-pagination-link=.//a[starts-with(@href,'/category/apteka-6000/solopharm-72315488/?category_was_predicted=true&deny_category_prediction=true&from_global=true')]
xpath-page-container=//div[@id='paginatorContent']
xpath-element-text=.//a[contains(@class,'tile-hover-target')]//span[@class='tsBody500Medium']
wait-page-load=3000
products-file-path=products.txt